<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RLS - Research Literature Summarizer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" /> 
</head>
<body class='banner'> 
    <div class='content'>
      <h3>Upload your pdf file below</h3> <br>
    <h4>The RLS takes about 8 minutes to summarize</h4> <br> 
<form action="/summarizer" enctype="multipart/form-data" method="POST">
  <label for="myfile" id='label'>Select a pdf file to summarize:</label> <br>
  <input type="file" id="myfile" name="myfile"><br><br>
  <input type="submit"> 
</form> <br>
    <h4>Why not get a cup of coffee while the summarization is going on</h4> <br>
    <!-- <h3>Bonus! You will also get the summary as 'summary.txt' in your downloads folder</h3> -->
    </div>
</body>
</html> 